    h3 {
        font-size: 30px;
        text-decoration: overline;
    }

    .second {
        /* visibility: hidden; */
        /* display: none; */
    }

    .header {
        height: 300px;
        background-color: bisque;
    }